[submodule "adblockpluscore"]
	path = adblockpluscore
	url = https://gitlab.com/eyeo/adblockplus/adblockpluscore.git
[submodule "adblockplusui"]
	path = adblockplusui
	url = https://gitlab.com/eyeo/adblockplus/abpui/adblockplusui.git
