body
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background: repeating-linear-gradient(0deg, #F8F6F5, #F6F4F2 50%, #FCFBF9);
  background: -webkit-repeating-linear-gradient(0deg, #F5F4F3, #FAF9F8 50%, #F5F4F3);
  background-size: 5px 5px;
  max-width: 800px;
  margin: auto;
  line-height: 1.5;
}

#title
{
  margin-top: 30px;
  padding-left: 148px;
  line-height: 1;
  font-size: 220%;
  font-weight: normal;
  background-image: url(/icons/abp-128.png);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  min-height: 128px;
  vertical-align: middle;
  display: -webkit-box;
  display: box;
  box-orient: vertical;
  box-pack: center;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
}

#title-changelog
{
  font-size: 50%;
}

#dataCorruptionWarning
{
  font-size: 200%;
  margin: 20px;
  padding: 20px;
  border: 3px solid red;
  border-radius: 10px;
}

#features
{
  margin: 10px 0px 40px 0px;
}

#features > li
{
  margin-left: 50px;
  list-style-image: url(/skin/checkmark.png);
}

#share1,
#share2
{
  display: none;
  text-align: center;
  font-size: 120%;
  margin-top: 40px;
}

:root[share-variant="1"] #share1,
:root[share-variant="2"] #share2
{
  display: block;
}

.share-image
{
  display: inline-block;
  width: 64px;
  height: 64px;
}

#share-images2
{
  display: inline-block;
  box-shadow: 0 0 4px 3px #EEEEEE;
  border-radius: 5px;
  background: #FFFFFF;
  padding: 10px 40px;
  margin-bottom: 30px;
}

#share-images2 > *
{
  vertical-align: middle;
}

#share-donate
{
  display: inline-block;
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  color: #003366;
  border: 1px solid #FF9933;
  border-radius: 10px;
  padding: 2px 10px;
  background-image: linear-gradient(0deg, #FFFDF8, #FEDE9E 60%, #FFAF34 65%, #FFEFD3);
  background-image: -webkit-gradient(linear, center top, center bottom,
          from(#FFFDF8), color-stop(60%, #FEDE9E), color-stop(65%, #FFAF34), to(#FFEFD3));
}

#share2-connection
{
  margin: 0px 20px;
}

.share-facebook
{
  background-image: url(/skin/facebook.png);
}

.share-twitter
{
  background-image: url(/skin/twitter.png);
}

#glass-pane, #share-popup
{
  visibility: hidden;
  opacity: 0;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
}

#glass-pane
{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5) url(/skin/ajax-loader.gif) no-repeat 50% 50%;

  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;

  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

#share-popup
{
  border: none;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

#glass-pane.visible, #share-popup.visible
{
  visibility: visible;
  opacity: 1;
}

#share-popup.visible
{
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
}

/* Adjust font size on smaller screens */
@media (max-height: 800px)
{
  body
  {
    font-size: 19px;
  }
}

@media (max-height: 750px)
{
  body
  {
    font-size: 17px;
  }
}

@media (max-height: 700px)
{
  body
  {
    font-size: 16px;
  }
}
